if SHIELD_SOSHO_R_TRACKPAD || SHIELD_SOSHO_R_TRACKBALL

config ZMK_KEYBOARD_NAME
    default "sosho"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING
    default y

config SPI
    default y

endif

if SHIELD_SOSHO_L_TRACKPAD || SHIELD_SOSHO_L_TRACKBALL

config ZMK_KEYBOARD_NAME
    default "sosho"

config ZMK_SPLIT
    default y

config INPUT
    default y

config ZMK_POINTING
    default y

config SPI
    default y

endif

if SHIELD_SOSHO_DONGLE

config ZMK_KEYBOARD_NAME
    default "SOSHO Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

# 左右分割の2つ（左手・右手）を子機として繋ぐ設定
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif