#include "sosho_L.dtsi"

/* トラックボール用のSPI1通信と物理センサーを有効化 */
&spi1 {
    status = "okay";
};

&trackball {
    status = "okay";
};

/* 物理センサーのデータを、dtsiにある無線送信チャネル（reg=1）にカチッと接続してON！ */
&trackball_split {
    status = "okay";
    device = <&trackball>;
};
&left_encoder {
    // 1回「カリッ」と回した時の信号の分割数です。
    // 2ページずつ飛ぶなら「2」、もっと飛ぶなら「4」を試してください。
    resolution = <4>; 
};