#include "sosho_R.dtsi"

&spi0 { status = "okay"; };

&glidepoint {
    status = "okay";
    invert-y;
};

&glidepoint_split {
    status = "okay";
    device = <&glidepoint>;
};

&trackball_split {
    status = "okay";
};