#include "sosho_R.dtsi"

&spi1 { status = "okay"; };

&trackball {
    status = "okay";
};

&trackball_split {
    status = "okay";
    device = <&trackball>;
};

&glidepoint_split {
    status = "okay";
};

/* ▼ 以下のリスナー関連は親機(Central)の仕事なので、子機(Peripheral)である右手からは削除します ▼
// &trackball_listener { ... };
// &trackball_split_listener { ... };
// &glidepoint_split_listener { ... };
*/