#include "sosho_L.dtsi"

&spi1 {
    status = "okay";
};

&trackball {
    status = "okay";
};

/* センサーのデータをSplit（送信）チャネルに流し込みます */
/* reg = <1> にすることで、ドングルの trackball_split@1 と完全に紐付きます */
&trackball_split {
    status = "okay";
    device = <&trackball>;
    reg = <1>;
};